version: "3.8"

services:
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: 172.24.104.200
      PMA_PORT: 3309
    restart: unless-stopped