version: "3.8"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo_db
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - ./mongo_data:/data/db
    networks:
      - mern-network

volumes:
  mongo_data:

networks:
  mern-network:
    driver: bridge
